# Name:          disable_postgresql.yml
# Purpose:       Tasks to stop and disable postgresql service if running
# Author(s):     Alistair Everett
# Created:       2019-05-03
# Modifications: 2018-vii-?  - 
# Copyright:     (c) Norwegian Meteorological Institute, 2018
# Citing:        https://doi.org/10.5281/zenodo.xxxxxx
#
# License:       This file is part of the BIFROST ice charting system.
#                BIFROST is free software: you can redistribute it and/or modify
#                it under the terms of the GNU General Public License as published by
#                the Free Software Foundation, version 3 of the License.
#                http://www.gnu.org/licenses/gpl-3.0.html
#                This program is distributed in the hope that it will be useful,
#                but WITHOUT ANY WARRANTY without even the implied warranty of
#                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
---

# Moving postgresql.conf file in order to prevent service to be started
- name: Move postgresql.conf to prevent restart
  command: "mv /etc/postgresql/{{ postgres_version }}/main/postgresql.conf /etc/postgresql/{{ postgres_version }}/main/postgresql.conf.disabled"


# Deleting recovery.conf file
- name: Delete recovery.conf file
  file:
    path: "/etc/postgresql/{{ postgres_version }}/main/recovery.conf"
    state: absent
  
# Deleting trigger file
- name: Delete trigger file
  file:
    path: "{{ trigger_file }}"
    state: absent

# Deleting standby file
- name: Delete standby file
  file:
    path: "{{ standby_file }}"
    state: absent

# Deleting primary info file
- name: Delete primary info file
  file:
    path: "/var/lib/postgresql/{{ postgres_version }}/main/primary_info"
    state: absent

