# Name:          install-common-software.yml
# Purpose:       Install Istjenesten database server-specific packages.
# Author(s):     Nick Hughes
# Created:       2018-vii-25
# Modifications: 2018-vii-?  - 
# Copyright:     (c) Norwegian Meteorological Institute, 2018
# Citing:        https://doi.org/10.5281/zenodo.xxxxxx
#
# License:       This file is part of the BIFROST ice charting system.
#                BIFROST is free software: you can redistribute it and/or modify
#                it under the terms of the GNU General Public License as published by
#                the Free Software Foundation, version 3 of the License.
#                http://www.gnu.org/licenses/gpl-3.0.html
#                This program is distributed in the hope that it will be useful,
#                but WITHOUT ANY WARRANTY without even the implied warranty of
#                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
---
- name: install packages from apt
  apt: name={{ item }} state=present
  with_items:
    - postgresql
    - postgis
    - python-psycopg2
    - python-pygresql
    - pgadmin3

#     - nfs-kernel-server
#     - daemon
#     - python-daemon
#     - python-ipaddr
#     - python-netifaces
#     - python-beautifulsoup
#     - python-gdal
#     - gdal-bin
#     - default-jre
#     - hdf4-tools
#     - python-matplotlib
#     - python-matplotlib-data
#     - python-mpltoolkits.basemap
#     - python-mpltoolkits.basemap-data
#     - python-reportlab
#     - python-pyproj
#     - git
#     - python-scipy
#     - python-pip    

# - name: install python netcdf for Xenial
#   apt: name={{ item }} state=present
#   with_items:
#     - python-netcdf4
#   when: lubuntu_version == "xenial"

# Manual installation:
# aptitude install nfs-kernel-server daemon postgresql postgis python-psycopg2 python-pygresql pgadmin3 python-daemon python-ipaddr python-netifaces python-beautifulsoup python-gdal gdal-bin default-jre hdf4-tools python-matplotlib python-matplotlib-data python-mpltoolkits.basemap python-mpltoolkits.basemap-data python-reportlab python-pyproj
