# Name:          istjenesten-database-master-server.yml
# Purpose:       Ansible playbook to create Istjenesten database server Vagrant box.
# Author(s):     Nick Hughes
# Created:       2018-vii-25
# Modifications: 2018-vii-?  - 
# Copyright:     (c) Norwegian Meteorological Institute, 2018
# Citing:        https://doi.org/10.5281/zenodo.xxxxxx
#
# License:       This file is part of the BIFROST ice charting system.
#                BIFROST is free software: you can redistribute it and/or modify
#                it under the terms of the GNU General Public License as published by
#                the Free Software Foundation, version 3 of the License.
#                http://www.gnu.org/licenses/gpl-3.0.html
#                This program is distributed in the hope that it will be useful,
#                but WITHOUT ANY WARRANTY without even the implied warranty of
#                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
---
- hosts: all
  remote_user: vagrant
  become: true
  become_method: sudo
  
  tasks:

  - name: load variables
    include_vars: roles/common/vars/vars.yml

  - name: set facts
    include: roles/common/tasks/set_facts.yml

  - name: update software
    include: roles/common/tasks/update-software.yml

  - name: install common packages
    include: roles/common/tasks/install-common-software.yml

  # Set postgres password!
  - name: set the postgres user password
    user: name=postgres
          password=$6$ae8lSquagj5V$3YJY0OL2Lozi8uBxEJJ2yh9Qbwbv/eKbBiPDLaGP0xNF242o59Z/teJR62j.RXYKIk8.JQnDV6j4YD5IBiyWB/

  # ensure the PostgreSQL server is stopped
  - name: stop postgresql service
    service:
      name: postgresql
      state: stopped

  - name: Clean the data directory
    file:
      path: "/home/postgres"
      state: absent

  - name: Recreate data directory with corrected permissions
    file:
      path:  "/home/postgres"
      owner: postgres
      group: postgres
      mode:  0700
      state: directory

  - name: setup postgresql
    become: true
    become_user: postgres
    include: roles/common/tasks/adjust-postgresql-settings.yml

  - name: setup as the master machine
    become: true
    become_user: postgres
    include: roles/master/tasks/master-specific-postgresql-setup.yml

  - name: start postgresql service
    service: 
      name: postgresql 
      state: started

  # Set up PostGIS template database (do before pgpool)
  - name: setup postgis
    include: roles/common/tasks/postgis-setup.yml

  # Do some more specific user setup (useful to see everything is working)
  - name: create users
    become: true
    become_user: postgres
    include: roles/master/tasks/create-postgresql-users.yml

  #setup pgpool
  - name: setup pgpool
    include: roles/common/tasks/pgpool-setup.yml

  - name: add bifrost group
    include: roles/common/tasks/add-bifrost-group.yml

  - name: add bifrost admin user
    include: roles/common/tasks/add-bifrost-admin-user.yml

 
